@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'nprogress/nprogress.css';

* {
  --header-height: 65px;
  --background-home: #f0f2f5;
  --navbar-width: 360px;
  --background-gray: #e4e6eb;

  font-family: 'Lato', sans-serif;
}

.wrapper-ab {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.chatbox-one {
  right: var(--navbar-width);
}

.chatbox-two {
  right: calc(var(--navbar-width) + 350px);
}

.background-gray {
  background: #f0f2f5;
}

.text-decoration-none {
  text-decoration: none;
}

.text-color-gray {
  color: #606770 !important;
}

.text-color-link {
  color: #216fdb !important;
}

.space-b-16 {
  margin-bottom: 16px;
}

.space-t-16 {
  margin-top: 16px;
}

.input-error {
  border: 1px solid #ff0000 !important;
}

.navigate-active {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1877f2;
    left: 0;
    bottom: -5px;
    border-radius: 4px;
  }
}

.color-active {
  color: #1877f2 !important;
  fill: #1877f2 !important;
}

.color-normal {
  color: #65676b !important;
  fill: #65676b !important;
}

.text-limit-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-limit-line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e0e0e0;
}

