.profileFriend{
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  height: 625px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  .listFriend{
    padding: 10px 0 10px 0;
    width: 100%;
    height: 85%;
  }
}