* {
  font-family: 'Roboto', sans-serif;
}

.createPost {
  padding: 15px;
  width: 100%;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);


  .buttonCreate {
    width: 100%;
    margin-left: 10px;
    border-radius: 50px;
    background-color: #eeeeee;
    color: #7d7e85;
    font-size: 16px;
    justify-content: flex-start;
    text-transform: none;

    &:hover {
      background: #E4E6E9
    }
  }

  .button {
    text-transform: none;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    width: 100%;
    color: #7d7e85;

    &:hover {
      background: #F2F2F2;
    }

  }


}

hr {
  border: none;
  background-color: #d0d0d0;
  height: 1px

}

.wrapperThumbnail {
  display: flex;
  align-items: center;
  height: 100px;
  overflow: auto;
  gap: 10px;

  &::-webkit-scrollbar {
    height: 10px;
  }

  .thumbnailItem {
    width: 100px;
    min-width: 100px;
    height: 100%;
    position: relative;
    border-radius: 6px;
    overflow: hidden;

    .thumbnailClose {
      position: absolute;
      top: 0;
      right: 0;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

}

.modal {
  border-radius: 5px;
  width: 500px;
  background-color: #ffffff;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

  .header {
    padding: 10px;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    position: relative;

    h3 {
      position: absolute;
      align-self: center;
    }

    .closeButton {
      margin-left: auto;
      background-color: #efefef;
    }
  }

  .body {
    padding: 5px 15px 5px 15px;
    width: 100%;

    .name {
      font-size: .875rem;
      display: block;
      font-weight: 600;
      color: #050505;
    }

    .buttonStatus {
      gap: 5px;
      display: flex;
      align-items: center;
      margin-top: 5px;
      border-radius: 5px;
      text-transform: none;
      padding: 0px 7px 0px 7px;
      font-size: 0.75rem;
      font-weight: bold;
      background-color: #E4E6EB;
      color: black;

      &:hover {
        background: #E4E6E9
      }

      .status {
        color: #050505;
      }
    }

    .buttonGroup {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #E4E6E9;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-between;
      margin-top: 5px;

      .buttonFunction {
        span {
          height: 24px;
          width: 24px;
          background-size: auto;
          background-repeat: no-repeat;
          display: inline-block;
        }

        .addImage {
          background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/_xsMaU2JwVR.png");
          background-position: 0px -258px;
        }

        .addTag {
          background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/_xsMaU2JwVR.png");
          background-position: 0px -233px;
        }

        .addFeeling {
          background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/_xsMaU2JwVR.png");
          background-position: 0px -208px;
        }

        .addLocation {
          background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yE/r/HyeXO0sd7uk.png");
          background-position: 0px -225px;
        }

        .addActivity {
          background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/IUYFS2LyvHB.png");
          background-position: 0px -100px;
        }

        .addMore {
          background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/_xsMaU2JwVR.png");
          background-position: 0px -133px;
        }
      }
    }

    .buttonAdd {
      color: #050505;
      text-transform: none;
      font-weight: bold;
      font-size: .875rem;

      &:hover {
        background: #ffffff;
      }

      &:focus {
        background: #ffffff;
      }

      &:active {
        background: #ffffff;
      }
    }

    .textarea {
      width: 100%;
      max-height: 60vh;

      &:focus {
        outline: none;
      }

      &:active {
        outline: none;
      }
    }
  }

  .footer {
    padding: 10px;
    width: 100%;

    button {
      background-color: dodgerblue;
      color: white;
      width: 100%;
    }
  }
}