.root {
  width: 100%;
  padding: 6px 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f0f2f5;
  min-height: 40px;
  transition: all 0.3s ease-in-out;

  .inputSearch {
    background: transparent;
    transition: width .3s;
  }

  .hidden {
    display: none;
  }
}