.navbar {
  width: var(--navbar-width);
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  .header {
    padding: 10px;
    display: flex;
    gap: 10px;
  }

  .body {

    .bodyHeader {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 20px 10px;

      .bodyHeaderTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .bodyHeaderBottom {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
