$header-height: 56px;

.root {
  height: $header-height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

  .headerRight {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    gap: 10px;

    .logo {
      height: 40px;
      width: 40px;
    }
  }

  .headerMid {
    flex-grow: 1;
  }

  .headerRight {
    flex-shrink: 1;
  }
}

