.friendList {
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  height: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  .moreButton {
    padding: 5px 16px 5px 16px;
    background-color: #F0F2F5;
    color: black;
    border-radius: 6px;
    &:hover {
      background-color: #D8DADF;
    }
  ;
    float: right;
  }
  .friendItem {
    width: 100%;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 5px;
    .image {
      width: 80px;
      height: 80px;
      border-radius: 8px;
      margin-right: 16px;
    }

    .friendInfo {
      width: 100%;
      align-self: center;
      display: flex;
      justify-content: space-between;

      .name {
        width: 100%;
        font-size: 1rem;
        font-weight: 600;
        color: #050505;
      }

      .mutualFriend {
        font-weight: 400;
        font-size: .875rem;
        color: #65676B;
      }

      .button {
        align-self: center;
        width: 40px;
        height: 40px;
      }
    }
  }
  .editButton{
    margin-top: 10px;
    width: 100%;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
    text-align: center;
    text-transform: none;
    background-color: #E4E6EB;
    &:hover{
      background-color: #D8DADF;
    }
  }
}
